.containerButton {
  padding: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--line);

  display: flex;
  align-items: flex-end;

  transition: ease-in 0.07s;
}

.containerButton:hover,
.containerButton.active {
  cursor: pointer;
  border-bottom: 4px solid var(--red);
  padding-bottom: 12px;
}

.containerButton:hover .textBox span,
.containerButton.active .textBox span {
  color: var(--red);
}

.containerButton:hover svg path,
.containerButton.active svg path {
  fill: var(--red);
}

/* textBox */

.textBox {
  color: var(--text);
  font-weight: 500;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
}

.textBox p {
  font-size: 10px;
}

.textBox span {
  font-size: 24px;
}
