* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: 0;
}

:root {
  --red: #ea0002;
  --yellow: #f9a90d;
  --gray: #ececec;
  --white: #ffffff;
  --text: #8f8f8f;
  --line: #d7d7d7;
}

html,
body,
input,
button,
select,
option {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}
